.background {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  place-content: center;
}

.container {
  margin: 34px var(--margin-page-x);
  width: 100%;
  max-width: 1400px;
}

.full_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_nav {
  display: none;
}

.link {
  font-size: 18px;
  line-height: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: #303030;
}

.link__current {
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cart_link {
  position: relative;
  padding-right: 1em;
}

.cart_counter {
  position: absolute;
  top: -1em;
  right: 5px;
  font-size: var(--fs-button-text);
}

.hamburger_button {
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .link {
    font-size: 16px;
  }

  .logo {
    width: 102px;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 22px var(--margin-page-x);
  }

  .full_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 80px;
  }
}

@media (max-width: 640px) {
  .container {
    margin: 12px var(--margin-page-x);
  }

  .logo {
    width: 40px;
  }

  .hamburger_image {
    width: 15px;
    height: auto;
  }
}
