.image_container {
  margin-bottom: 38px;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.divider {
  border: none;
  border-bottom: 1.5px solid var(--primary-color-800);
  margin-bottom: 18px;
}

.title {
  font-size: var(--fs-text);
  min-height: 3em;
  color: var(--primary-color-600);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.button {
  margin-top: auto;
}
