.product_card {
  position: relative;
}

.sale_bubble {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--accent-color-3);
  border-radius: 100px;
  color: white;
  font-size: var(--fs-text-super-small);
  padding: 0.65em 2em;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 22px;
}

.divider {
  border: none;
  border-bottom: 1px solid var(--primary-color-600);
}

.top_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 30px;
}

.name {
  text-transform: uppercase;
  font-size: var(--fs-text-super-small);
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.plus {
  width: 16px;
}

.bottom_row {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-text-small);
  margin-bottom: 7px;
}

.full_price {
  text-decoration: line-through;
  color: var(--secondary-color-300);
  margin-left: 10px;
}
