.card {
  container-type: inline-size;
  border: 1px solid currentColor;
  border-radius: 35px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: var(--fs-text);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  font-size: var(--fs-text-small);
  margin-bottom: auto;
}

.bottom_row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart {
  width: 16px;
  height: auto;
}

@container (max-width: 230px) {
  .name {
    font-size: 16px;
  }

  .text {
    font-size: 12px;
  }

  .heart {
    width: 12px;
  }

  .date {
    font-size: 12px;
  }
}

@container (max-width: 170px) {
  .name {
    font-size: 12px;
  }

  .text {
    font-size: 10px;
  }

  .heart {
    width: 8px;
  }

  .date {
    font-size: 8px;
  }
}
