.gallery {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageContainer {
  grid-column: 3 / 5;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;
}

.image.current {
  visibility: visible;
  opacity: 1;
}

.buttonsHolder {
  position: absolute;
  bottom: 50px;
  left: -30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary-color-800);
  border-radius: 8px;
  cursor: pointer;
}

.button.current {
  background-color: var(--primary-color-800);
}
