.product-card__image {
  display: block;
  width: 100%;
  margin-bottom: 22px;
}

.product-card__divider {
  border-width: 2px;
}

.product-card__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 30px;
}

.product-card__name {
  text-transform: uppercase;
  font-size: var(--fs-text-super-small);
}

.product-card__button {
  background: none;
  border: none;
  cursor: pointer;
}

.product-card__plus {
  width: 16px;
}

.product-card__bottom-row {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-text-small);
  margin-bottom: 7px;
}