.product_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 70px;
}

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 1em;
}
