.image {
  display: block;
  width: 100%;
  margin-bottom: 22px;
}

.divider {
  border-width: 2px;
}

.top_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 30px;
}

.name {
  text-transform: uppercase;
  font-size: var(--fs-text-super-small);
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.plus {
  width: 16px;
}

.bottom_row {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-text-small);
  margin-bottom: 7px;
}
