.footer {
  background-color: var(--primary-color-600);
  color: white;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: var(--margin-page-x);
  padding-right: var(--margin-page-x);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1400px;
  width: 100%;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12%;
}

.form_heading {
  font-size: var(--fs-heading-3);
  font-weight: 300;
  margin-bottom: 2em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_textbox {
  display: block;
  margin-bottom: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--secondary-color-500);
  font-size: var(--fs-text-small);
  color: var(--secondary-color-500);
  padding-bottom: 0.7em;
}

.form_textbox:focus {
  /* outline: 1px solid white; */
  outline: none;
}

.form_textbox::placeholder {
  color: var(--secondary-color-500);
}

.personal_data_agreement {
  margin-bottom: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.personal_data_agreement_checkbox {
  margin-right: 10px;
}

.form_submit_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sota_logo {
  width: 186px;
  height: 72px;
  margin-top: 20px;
}

.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 80px;
  row-gap: 1rem;
  column-gap: 1rem;
}

.navigation_link {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.navigation_link:hover {
  text-decoration: underline;
}

.social_media_row {
  display: flex;
  align-items: center;
  height: 22px;
  gap: 10px;
  margin-bottom: 10px;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contacts_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts_column.right {
  align-items: flex-end;
}

.contacts p {
  font-weight: 300;
  margin-bottom: 0.4em;
}

.contacts__phone_number {
  margin-bottom: 12px;
}

.payment_systems_row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  height: 36px;
  margin-top: auto;
}

.bottom_row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5rem;
}

.bottom_row_text {
  font-weight: 300;
  font-size: var(--fs-text-super-small);
  color: var(--secondary-color-300);
}

.social_media_row {
  height: 22px;
}

.social_media_link {
  height: 100%;
}

.icon {
  height: 100%;
  width: auto;
}

@media (max-width: 1400px) {
  .footer {
    padding-top: 70px;
  }

  .form_heading {
    font-size: 30px;
  }

  .form_textbox {
    font-size: 12px;
  }

  .personal_data_agreement {
    font-size: 10px;
  }

  .sota_logo {
    width: 116px;
    height: 45px;
  }

  .navigation {
    row-gap: 10px;
  }

  .navigation_link,
  .contacts {
    font-size: 10px;
  }

  .bottom_row {
    margin-top: 40px;
  }

  .bottom_row_text {
    font-size: 8px;
  }

  .social_media_row {
    height: 14px;
  }

  .payment_systems_row {
    height: 26px;
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 60px;
  }

  .form_heading {
    font-size: 26px;
  }
}

@media (max-width: 960px) {
  .footer {
    padding-top: 35px;
  }

  .form_heading {
    font-size: 14px;
  }

  .form_textbox {
    font-size: 8px;
    margin-bottom: 16px;
  }

  .sota_logo,
  .navigation {
    display: none;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 8px;
  }

  .contacts_column.right {
    align-items: flex-start;
  }

  .payment_systems_row {
    justify-content: flex-start;
  }

  .bottom_row {
    font-size: 6px;
    margin-top: 16px;
  }
}

@media (max-width: 640px) {
  .columns {
    display: block;
  }

  .form_container {
    display: none;
  }

  .contacts {
    flex-direction: row;
    gap: 30px;
  }

  .contacts_column.right {
    align-items: flex-end;
  }

  .payment_systems_row {
    justify-content: flex-end;
    height: 20px;
  }

  .bottom_row {
    gap: 16px;
  }
}
