.container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.catalog {
  width: 100%;
  max-width: 1400px;
  margin: 0 30px;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    ". hd"
    "sb pr";
  row-gap: 4rem;
}

.head {
  grid-area: hd;
}

.sidebar {
  grid-area: sb;
}

.product_grid {
  grid-area: pr;
}

.main_heading {
  font-size: var(--fs-heading-2);
  margin-bottom: 2rem;
}

.filter_settings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar_button {
  display: block;
  border: none;
  background: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sidebar_button__current {
  font-weight: 500;
}

.sidebar_button:hover {
  text-decoration: underline;
}

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.pagination__link {
  font-size: var(--fs-text);
  text-decoration: none;
  color: var(--primary-color-800);
}

.pagination__link:hover {
  text-decoration: underline;
  color: var(--primary-color-600);
}

.pagination__link_inactive {
  color: var(--secondary-color-300);
}
