.page_title {
  font-size: var(--fs-heading-2);
  font-weight: 300;
  margin-bottom: 52px;
}

.section_title {
  font-size: var(--fs-heading-3);
  font-weight: 300;
  margin-bottom: 40px;
}

.order__heading_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.order__heading {
  font-size: var(--fs-heading-3);
  font-weight: 300;
}

.order__change_link {
  color: var(--secondary-color-300);
}

.order__change_link:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.product_images_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.product_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.price_text {
  font-size: var(--fs-heading-4);
}

.price_text_total {
  font-size: var(--fs-heading-3);
  font-size: 300;
}

.divider {
  border: none;
  border-bottom: 2px solid var(--secondary-color-500);
  margin: 25px 0 25px;
}

.dropdown__dropdown {
  position: relative;
}

.dropdown__name_row {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-size: var(--fs-button-text);
  cursor: pointer;
  background: none;
  border: none;
}

.dropdown__content {
  border: 1px solid var(--primary-color-800);
  border-radius: 30px;
  max-width: fit-content;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown__arrow_button {
  border: none;
  background: none;
}

.text_input {
  font-size: var(--fs-text);
  border: none;
  border-bottom: 1px solid var(--secondary-color-300);
  padding-bottom: 10px;
  outline: none;
  margin-top: 30px;
  margin-bottom: 15px;
}

.text_input::placeholder {
  color: var(--primary-color-600);
}

.secondary_text {
  font-size: var(--fs-text-small);
  color: var(--secondary-color-300);
}

.checkbox {
  margin: 20px 0 10px;
}

.checkbox__checkmark {
  margin-right: 14px;
}
