:root {
  /* -- COLORS -- */

  --primary-color-800: #303030;
  --primary-color-600: #454545;
  --secondary-color-600: #ededed;
  --secondary-color-500: #d4d4d4;
  --secondary-color-300: #afafaf;
  --accent-color-1: #58755b;
  --accent-color-2: #ffc31d;
  --accent-color-3: #db2c2c;

  /* -- FONTS -- */

  --fs-heading-1: 5.5rem;
  --fs-heading-2: 3.75rem;
  --fs-heading-3: 2.75rem;
  --fs-heading-4: 1.875rem;
  --fs-text: 1.25rem;
  --fs-text-small: 1rem;
  --fs-text-super-small: 0.75rem;
  --fs-button-text: 1.125rem;

  /* -- SPACING -- */
  --margin-page-x: 70px;

  --margin-section-y: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--primary-color-800);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: calc(1400px + var(--margin-page-x) * 2);
  padding: 0 var(--margin-page-x);
}

.row {
  display: flex;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.my-xs {
  margin-top: 15px;
  margin-bottom: 15px;
}

.gap-xs {
  gap: 20px;
}

.gap-small {
  gap: 30px;
}

.gap-large {
  gap: 100px;
}

.mt-page-start {
  margin-top: 130px;
}

.mt-small {
  margin-top: 30px;
}

.mt-medium {
  margin-top: 45px;
}

.mb-xl {
  margin-bottom: 150px;
}

.mb-page-end {
  margin-bottom: 80px;
}

.mb-medium {
  margin-bottom: 70px;
}

.mb-small {
  margin-bottom: 50px;
}

.page-title {
  font-size: var(--fs-heading-2);
  font-weight: 300;
}

@media (max-width: 1400px) {
  :root {
    --fs-button-text: 15px;
    --fs-text-small: 14px;

    --margin-section-y: 80px;
  }
}

@media (max-width: 1200px) {
  :root {
    --fs-text-small: 12px;
    --margin-page-x: 50px;
    --margin-section-y: 56px;
  }
}

@media (max-width: 960px) {
  :root {
    --fs-button-text: 12px;
    --margin-page-x: 30px;
    --margin-section-y: 45px;
  }
}

@media (max-width: 640px) {
  :root {
    --fs-button-text: 10px;
    --margin-page-x: 10px;
    --margin-section-y: 24px;
  }
}
