:root {
  /* -- COLORS -- */

  --primary-color-800: #303030;
  --primary-color-600: #454545;
  --secondary-color-500: #d4d4d4;
  --secondary-color-300: #afafaf;
  --accent-color-1: #58755b;
  --accent-color-2: #ffc31d;
  --accent-color-3: #db2c2c;

  /* -- FONTS -- */

  --fs-heading-1: 6rem;
  --fs-heading-2: 3.75rem;
  --fs-heading-3: 2.75rem;
  --fs-heading-4: 1.875rem;
  --fs-text: 1.25rem;
  --fs-text-small: 1rem;
  --fs-text-super-small: 0.75rem;
  --fs-button-text: 1.125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--primary-color-800);
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
