.page-content {
  margin-top: 150px;
}

.section {
  /* padding: 90px 30px; */
  padding-top: var(--margin-section-y);
  padding-bottom: var(--margin-section-y);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_heading {
  font-size: var(--fs-heading-2);
  font-weight: 300;
  text-align: center;
  margin-bottom: 70px;
}

/* --- HERO SECTION --- */

.hero {
  display: grid;
  grid-template-columns:
    minmax(var(--margin-page-x), 1fr)
    repeat(2, minmax(100px, 700px))
    minmax(var(--margin-page-x), 1fr);
  min-height: 100vh;
}

.hero__img_container {
  grid-column: 3 / 5;
}

.hero__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column: 2 / 3;
  padding-right: 3rem;
  padding-top: 100px;
}

.hero__heading {
  font-weight: 500;
  font-size: var(--fs-heading-1);
  margin-bottom: 30px;
}

.hero__description {
  font-size: 22px;
  line-height: 25px;
  color: var(--primary-color-600);
  margin-bottom: 30px;
}

.hero__catalog_link {
  background: var(--primary-color-800);
  border-radius: 36px;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.hero__gallery {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__imageContainer {
  grid-column: 3 / 5;
}

.hero__image {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;
}

.hero__image.current {
  visibility: visible;
  opacity: 1;
}

.hero__buttonsHolder {
  position: absolute;
  bottom: 50px;
  left: -30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero__button {
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary-color-800);
  border-radius: 8px;
  cursor: pointer;
}

.hero__button.current {
  background-color: var(--primary-color-800);
}

/* --- DESCRIPTION SECTION --- */

.description_section {
  padding: 90px 0;
  display: flex;
  justify-content: center;
}

.description__content {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.description__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.description__title_holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.description_paragraph {
  font-size: var(--fs-text-small);
}

.description_paragraph_big {
  font-size: var(--fs-heading-3);
  text-align: end;
}

/* --- PRODUCT CATEGORIES SECTION --- */

.product_categories_section {
  display: grid;
  grid-template-columns:
    minmax(var(--margin-page-x), 1fr)
    repeat(2, minmax(100px, 700px))
    minmax(var(--margin-page-x), 1fr);
}

.categories_image_container {
  grid-column: 1 / 3;
}

.categories_image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.categories_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 4;
  padding-left: 6rem;
  gap: 42px;
}

.category_link_container {
  width: 100%;
  max-width: 100%;
}

.category_link {
  position: relative;
  font-size: var(--fs-heading-4);
}

.category_counter {
  position: absolute;
  top: -1em;
  right: -1.5em;
  font-size: var(--fs-text);
}

.category_underline {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid currentColor;
  margin-top: 16px;
}

/* --- OFFER SECTION --- */

.offer_section {
  padding: 90px 0 90px;
  display: grid;
  grid-template-columns:
    minmax(30px, 1fr)
    repeat(3, minmax(100px, calc(1400px / 3)))
    minmax(30px, 1fr);
}

.offer_text_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column: 2 / 3;
  padding-right: 30px;
}

.offer_heading {
  font-size: var(--fs-heading-3);
  font-weight: 300;
}

.offer_description {
  font-size: var(--fs-text-small);
  margin: 10px 0 30px;
}

.offer_image_container {
  grid-column: 3 / -1;
}

.offer_image {
  width: 100%;
  height: auto;
}

/* --- COLLABORATION SECTION --- */

.collaboration_section {
  background-color: var(--accent-color-1);
  color: white;
}

.collaboration_grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 50px;
}

.collaboration_point {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collaboration_point_heading {
  font-size: var(--fs-heading-4);
  margin: 12px 0;
  text-align: center;
}

.collaboration_point_paragraph {
  font-size: var(--fs-text-small);
  text-align: center;
}

/* --- REVIEWS SECTION --- */

.reviews_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
  min-height: 450px;
}

@media (max-width: 1400px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .hero__text {
    grid-column: 1 / 2;
    margin-left: var(--margin-page-x);
  }

  .hero__heading {
    font-size: 60px;
  }

  .hero__description {
    font-size: 18px;
  }

  .hero__img_container {
    grid-column: 2 / 3;
  }

  .description_paragraph_big {
    font-size: 30px;
  }

  .product_categories_section {
    grid-template-columns: 50% 50%;
  }

  .categories_image_container {
    grid-column: 1 / 2;
  }

  .categories_links {
    grid-column: 2 / 3;
    padding-left: 80px;
    padding-right: var(--margin-page-x);
    gap: 30px;
  }

  .category_link {
    font-size: 20px;
  }

  .category_counter {
    font-size: 16px;
  }

  .category_underline {
    margin-top: 10px;
  }
}

@media (max-width: 1200px) {
  .hero__heading {
    font-size: 50px;
  }

  .hero__description {
    font-size: 14px;
    line-height: 18px;
  }

  .categories_links {
    padding-left: 70px;
    gap: 28px;
  }

  .category_link {
    font-size: 18px;
  }

  .category_counter {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  .hero {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    min-height: unset;
  }

  .hero__text {
    background-color: var(--accent-color-1);
    margin-left: 0;
    margin-right: 0;
    padding-right: var(--margin-page-x);
    padding-left: var(--margin-page-x);
    padding-top: 140px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  .hero__heading,
  .hero__description {
    color: white;
    text-align: center;
    max-width: 360px;
  }

  .hero__heading {
    margin-bottom: 14px;
  }

  .hero__description {
    margin-bottom: 20px;
  }

  .hero__img_container {
    width: 100%;
    aspect-ratio: 3 / 2;
  }

  .hero__buttonsHolder {
    flex-direction: row;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: -30px;
  }

  .description__content {
    flex-direction: column;
  }

  .description__title_holder {
    order: -1;
    align-items: center;
  }

  .description_paragraph_big {
    text-align: center;
  }

  .description__text {
    flex-direction: row;
    gap: 80px;
  }

  .categories_links {
    padding-left: 30px;
    gap: 22px;
  }

  .category_link {
    font-size: 14px;
  }

  .category_counter {
    font-size: 10px;
  }

  .category_underline {
    margin-top: 8px;
  }
}

@media (max-width: 640px) {
  .hero__text {
    padding-top: 100px;
  }

  .hero__heading {
    font-size: 36px;
    margin-bottom: 8px;
    max-width: 260px;
  }

  .hero__description {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 18px;
    max-width: 250px;
  }

  .description__content {
    gap: 16px;
  }

  .description__text {
    flex-direction: column;
    gap: 16px;
  }

  .description_paragraph_big {
    font-size: 22px;
  }

  .product_categories_section {
    grid-template-columns: 100%;
    row-gap: 30px;
  }

  .categories_image_container {
    grid-column: unset;
  }

  .categories_image {
    aspect-ratio: 2 / 1;
    object-position: center bottom;
  }

  .categories_links {
    grid-column: unset;
    padding-left: var(--margin-page-x);
    padding-right: var(--margin-page-x);
    margin-bottom: var(--margin-section-y);
    gap: 20px;
  }

  .category_link {
    font-size: 12px;
  }

  .category_counter {
    font-size: 9px;
  }
}
