.page-content {
  margin-top: 150px;
}

.hero {
  display: flex;
  justify-content: flex-end;
}

.hero__img_container {
  width: 50%;
}

.hero__img {
  display: block;
  width: 100%;
  height: auto;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  padding-right: 3rem;
  padding-top: 100px;
  margin-left: 3rem;
}

.hero__heading {
  font-weight: 500;
  font-size: clamp(3rem, 6vw, 5.5rem);
  /* line-height: 102px; */
  text-align: center;
  margin-bottom: 1.5rem;
}

.hero__description {
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: var(--primary-color-600);
  margin-bottom: 1.5rem;
}

.hero__catalog_link {
  background: var(--primary-color-800);
  border-radius: 36px;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.description_section {
  padding: 90px;
  display: flex;
  justify-content: center;
}

.description_paragraph {
  font-size: var(--fs-text-small);
  margin-bottom: 40px;
}

.description_paragraph_big {
  font-size: var(--fs-heading-3);
  text-align: center;
}

.product_categories_section {
  display: flex;
  justify-content: flex-start;
}

.categoreis_image_container {
  width: 50%;
}

.categoreis_image {
  display: block;
  width: 100%;
  height: auto;
}

.categories_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  padding-left: 6rem;
  margin-right: 3rem;
  gap: 42px;
}

.category_link_container {
  width: 20000px;
  max-width: 100%;
}

.category_link {
  position: relative;
  font-size: var(--fs-heading-4);
}

.category_counter {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  font-size: var(--fs-text);
}

.category_underline {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid currentColor;
  margin-top: 16px;
}
